.AccountItem {
    font-family: inherit;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.AccountItem__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.AccountItem__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 0px;
    margin: 0px;
}

.AccountItem__number {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 60%);
}

.AccountItem .select {
    margin-left: auto;
    margin-right: 20px;
}