.DonationsNotification {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0px;
}

.DonationsNotification__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 0px;
    margin: 0px;
    color: black;
}

@media screen and (min-width: 1028px) {
    .DonationsNotification {
        background-color: white;
        border-radius: 16px;
        width: 100%;
        margin-top: 6px;
        margin-bottom: 16px;
        flex-direction: row;
        padding: 36px 24px;
    }
}