.transactions-toggle__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
}

.transactions-toggle__title {
    margin-right: 50px;
}

.transactions__item-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 60%);
}

.roundups-toggle__title,
.roundups__list h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 0px;
    margin: 0px;
    color: black;
}

.roundups__list h2 {
    padding: 0px 24px 20px 24px;
    width: 100%;
    max-width: 600px;
}

.transactions__item-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    color: black;
}

.overview {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.roundups__tab-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roundups__toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0px;
}

.toggle {
    position: relative;
    display: inline-block;
    left: -15px;
}

.toggle input {
    margin-left: 16px;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider--round {
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 14px;
    top: 5px;
    right: -35px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}

.slider--round:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: -2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 21%);
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

.toggle input:checked + .slider--round {
    background-color: rgba(0, 0, 0, 60%);
}
  
.toggle input:focus + .slider--round {
    outline: rgb(59, 153, 252) auto 5px;
}

.toggle input:checked + .slider--round:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.transactions-toggle {
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.transactions-toggle input {
    opacity: 0;
    position: absolute;
    right: 0;
    top: -10px;
    width: 40px;
    height: 40px;
}

span.circle {
    position: absolute;
    top: -8px;
    right: 0px;
    width: 40px;
    height: 40px;
}

.transactions-toggle input + span.circle::before {
	content: "+";
    height: 40px;
    width: 40px;
    font-weight: 300;
    font-size: 30px;
    color: rgba(0, 0, 0, 50%);
    position: absolute;
    top: 4px;
    left: 10px;
}

.transactions-toggle input + span.circle::after {
    border: 1px solid rgba(0, 0, 0, 12%);
    border-radius: 50%;
	content: "";
    height: 40px;
    width: 40px;
	position: absolute;
    top: 0px;
    right: 0px;
}

.transactions-toggle input:checked + span.circle::before {
	content: "";
    border: 2px solid;
    border-radius: 0px;
    border-left: 0;
    border-top: 0;
    height: 15px;
    width: 7px;
    transform: rotate(45deg);
    color: rgba(0, 0, 0, 50%);
    position: absolute;
    top: 10px;
    left: 15px;
}

.transactions-toggle input:checked + span.circle::after {
    border: 0;
    background-color: rgba(0, 0, 0, 12%);;
    border-radius: 50%;
	content: "";
    height: 40px;
    width: 40px;
	position: absolute;
    top: 0px;
    right: 0px;
}

.roundups__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transactions-list {
    width: 100%;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0px;
}

.transactions-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 13px;
    margin: 10px 0px;
    min-height: 75px;
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 20%);
}