.DashBoardPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tab-container {
    height: 60vh;
    overflow: scroll;
}

@media screen and (min-width: 1028px) {
    .DashBoardPage {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: 91px;
        height: 100%;
        padding: 0px;
    }

    .tab-container {
        width: 625px;
        height: 100%;
        border: 0px;
    }
}