.DashBoardPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #EAEBF3;
}

.tab-container {
    position: absolute;
    top: 40vh;
    height: 60vh;
    width: 100%;
    overflow: scroll;
}

@media screen and (min-width: 1028px) {
    .DashBoardPage {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: 91px;
        height: 100%;
        min-height: 100vh;
        padding: 0px;
    }

    .tab-container {
        position: relative;
        top: 0px;
        width: 625px;
        height: 100%;
        border: 0px;
        padding-top: 50px;
    }
}