.ProjectDetailPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (min-width: 1028px) {
    .ProjectDetailPage {
        padding-top: 88px;
        justify-content: center;
    }
}