.BankItem {
    font-family: inherit;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.BankItem__image {
    border-radius: 50px;
    margin-left: 10px;
}

.BankItem__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 0px;
    margin: 0px 0px 0px 10px;
    margin-left: 10px;
}

.BankItem .select {
    margin-left: auto;
    margin-right: 20px;
}