.tabs {
    background-color: #d8d8d8;
    border-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100%;
}

.tabs a {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid black;
}

@media screen and (min-width: 1028px) {
    .tabs {
        background-color: white;
        border: none;
        height: 48px;
        padding: 0px;
    }

    .tabs a {
        width: 200px;
        flex: none;
    }
}