.tabs {
    background-color: #d8d8d8;
    border-top: 1px solid #d8d8d8;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    height: 12vh;
    width: 100%;
}

a {
    flex: 1;
    text-align: center;
}

.active {
    border-bottom: 1px solid black;
}