.RoundupsToggle__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0px;
}

.toggle {
    position: relative;
    display: flex;
    left: -15px;
}

.toggle input {
    margin-left: 16px;
    opacity: 0;
    width: 0;
    height: 0;
}

.RoundupsToggle__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 0px;
    margin: 0px;
    color: black;
}

.slider--round {
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 14px;
    top: 5px;
    right: -35px;
    bottom: 0;
    background-color: #EAEBF3;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}

.slider--round:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: -2px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8), 5px 5px 15px rgb(191, 191, 199);
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

.toggle input:checked + .slider--round {
    background-color: rgba(0, 0, 0, 60%);
}
  
.toggle input:focus + .slider--round {
    outline: rgb(59, 153, 252) auto 5px;
}

.toggle input:checked + .slider--round:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

@media screen and (min-width: 1028px) {
    .RoundupsToggle__container {
        background-color: white;
        border-radius: 16px;
        width: 100%;
        margin-top: 6px;
        flex-direction: row;
        padding: 36px 24px;
    }

    .toggle {
        position: relative;
        left: 0px;
    }
}