.Confirmation {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.Confirmation__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 32px;
    max-width: 450px;
    margin-top: auto;
    margin-bottom: auto;
}

.Confirmation__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin: 0px 0px 42px 0px;
    padding: 0px;
}

.Confirmation__description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding: 0px;
    margin: 0px 0px 75px 0px;
}

.Confirmation__icon {
    color: rgba(0, 0, 0, 12%);
    font-size: 100px;
    margin-bottom: 50px;
}

@media screen and (max-height: 700px) {
    .Confirmation__icon {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .Confirmation__title {
        margin: 0px 0px 35px 0px;
    }

    .Confirmation__description {
        margin: 0px 0px 35px 0px;
    }
}

@media screen and (min-width: 1000px) {
    .Confirmation__container {
        background-color: white;
        border-radius: 4px;
    }
}