.ProjectItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 13px;
    margin: 10px 0px;
    min-height: 75px;
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8), 5px 5px 15px rgba(234, 235, 243, 1);
}

.ProjectItem {
    align-items: flex-start;
}

.ProjectLink, .ProjectLink:visited {
    text-decoration: none;
    color: initial;
}

.ProjectItem__container{
    flex: 2;
}

.ProjectItem__project-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
}

.ProjectItem__project-name {
    padding: 0px 0px 16px 0px;
}

.ProjectItem__project-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 60%);
}

.truncate-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.ProjectItem__amount {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 16px 0px 0px 0px;
    margin: 0px;
    color: black;
}