.Hamburger__icon {
    float: right;
}

.icon-button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 0px;
    height: 48px;
    font-size: 18px;
}

@media screen and (min-width: 600px) {
    .Hamburger__icon {
        display: none;
    }
}