.landing-page > section {
    padding-right: 30px;
    padding-left: 30px;
}

/* H1 - 40px / 48px */
.hero__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    margin: 0px 0px 22px 0px;
    padding: 0px;
    text-align: center;
}

/* H2 - 22px / 35px */
.hero__body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin: 0px 0px 40px 0px;
    padding: 0px;
    text-align: center;
}

/* H3 - 30px / 40px */
.secondary__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin: 0px 0px 22px 0px;
    padding: 0px;
}

.secondary__body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin: 0px;
    padding: 0px;
}

.hero {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero > .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero > .image-container {
    position: relative;
    height: 350px;
    width: 100%;
}

.hero__image {
    margin-top: 50px;
    width: auto;
    height: 470px;
    position: absolute;
    left: 50%;
    margin-left: -116.5px;
}

.section--dark {
    background-color: #EAEBF3;
}

.text-container {
    max-width: 450px;
}

.secondary {
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary.first {
    padding-top: 220px;
    padding-bottom: 70px;
}

.secondary__image {
    width: auto;
    height: 250px;
    margin-top: 50px;
}

.secondary > .text-container.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.secondary > .text-container.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.secondary > .image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #472BBA;
    min-height: 250px;
}

@media screen and (min-width: 1000px) {
    .hero {
        flex-direction: row;
        justify-content: space-evenly;
        height: 85vh;
        padding-top: 100px;
    }

    .hero > .text-container {
        max-width: 100%;
    }

    .hero__title {
        text-align: left;
        max-width: 450px;
    }

    .hero__body {
        text-align: left;
        max-width: 450px;
    }

    .hero a {
        display: inline;
    }

    .hero__cta-group {
        width: 100%;
    }

    .hero > .image-container {
        position: relative;
        width: auto;
        height: auto;
    }

    .hero__image {
        width: 250px;
        height: auto;
        margin-top: 0px;
        position: relative;
        left: 0;
        margin-left: 0;
    }

    .secondary {
        flex-direction: row;
        justify-content: center;
        min-height: 500px;
    }

    .secondary.first {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .secondary.section--dark {
        flex-direction: row-reverse;
    }

    .secondary > .text-container.left {
        margin-right: 150px;
    }
    
    .secondary > .text-container.right {
        margin-left: 150px;
    }

    .secondary__image {
        margin-top: 0px;
    }
}