.Wallet__container {
    padding-top: 60px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #EAEBF3;
    min-height: 48vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
}

.Wallet__card {
    background-color: rgb(71,43,186);
    background: rgb(71,43,186);
    background: linear-gradient(151deg, rgba(71,43,186,1) 14%, rgba(18,160,149,1) 100%, rgba(0,201,136,1) 100%);
    box-shadow: 0 5px 10px rgba(71,43,186,.2), 0 15px 40px rgba(71,43,186,.2);
    width: 100%;
    max-width: 540px;
    border-radius: 16px;
    padding: 22px;
    margin-left: auto;
    margin-right: auto;
}

.Wallet__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin: 0px;
    padding: 0px 0px 20px 0px;
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.Wallet__balance {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    margin: 0px;
    padding: 0px;
    color: white;
}

.Wallet__subtitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    color: white;
}

.Wallet__give {
    padding: 17px 70px;
}

.Wallet__Link {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 0px;
}

@media screen and (min-width: 1028px) {
    .Wallet__container {
        position: relative;
        width: 375px;
        justify-content: flex-start;
        margin-right: 20px;
        padding-top: 50px;
    }
}