.SecondaryNav {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SecondaryNav nav {
    flex: 2;
}

.left-arrow-icon,
.skip-button {
    display: inline-block;
}

.left-arrow-icon img {
    width: 18px;
}

.back-button,
.close-button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 0px;
    height: 48px;
}

.back-button i,
.close-button i {
    font-size: 20px;
}

.times-icon,
.skip-button {
    float: right;
}

.times-icon img {
    width: 20px;
}

.skip-button button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;;
}

@media screen and (min-width: 1028px) {
    .SecondaryNav {
        z-index: 1;
    }
}