.LoginForm {
    padding-top: 130px;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LoginForm__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin: 0px;
    padding: 0px;
}

.LoginForm__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.LoginForm__input {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.LoginForm__input input {
    padding: 16px 22px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    background-color: rgba(0, 0, 0, 12%);
}

.LoginForm__input label {
    padding-bottom: 10px;
}

.LoginForm__input-label {
    color: rgba(0, 0, 0, 38%);
    font-size: 16px;
}

.LoginForm__submit {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20%;
}

.LoginForm__secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.LoginForm__secondary p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 0px;
    margin: 0px;
}

.LoginForm__submit a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}