.DonationItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    height: 100%;
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8), 5px 5px 15px rgba(234, 235, 243, 1);
}

.DonationItem__container {
    flex: 2;
    height: 100%;
}

.DonationItem__date {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 0px;
    margin: 0px 0px 5px 0px;
    color: black;
}

.DonationItem__project-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding: 7px 0px;
}

.DonationItem__project-school {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    color: rgba(0, 0, 0, 60%);
}

.DonationItem__project-amount {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0px 0px 0px;
    padding: 3px 9px;
    padding-left: 35px;
    color: #4822BA;
    background-color: #EAEBF3;
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.DonationItem__project-amount i {
    margin: 0px 6px;
}

.DonationItem__project-amount .check {
    content: '';
    background-image: url('../../img/check.svg');
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translate(0, -50%);
}

.DonationItem__project-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
    height: 100%;
}

.DonationItem__project-image img {
    border-radius: 4px;
    width: 80px;
    height: 80px;
}

@media screen and (min-width: 1000px) {
    .DonationItem {
        background-color: white;
    }
}