.DonationItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 13px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    height: 100%;
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 20%);
}

.DonationItem__container {
    flex: 2;
    height: 100%;
}

.DonationItem__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    color: black;
}

.DonationItem__project-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    padding: 7px 0px;
}

.DonationItem__project-school {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 60%);
}

.DonationItem__project-amount {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 9px 0px 0px 0px;
    padding: 3px 9px;
    color: black;
    background-color: #cdcdcd;
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.DonationItem__project-amount i {
    margin: 0px 6px;
}

.DonationItem__project-image{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
    height: 100%;
}

.DonationItem__project-image img {
    border-radius: 4px;
}