.SearchForm {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 600px;
}


.SearchForm__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    width: 225px;
}

.SearchForm__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 35px;
}

.SearchForm__input-container {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.SearchForm__sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 0px;
    margin: 0px;
    color: black;
}

.SearchForm__submit {
    display: flex;
    flex-direction: column;
    padding-top: 34px;
}

@media screen and (min-width:00px) {
    .SearchForm {
        max-width: 650px;
    }
}