.LinkBankForm {
    padding-top: 130px;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LinkBankForm__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

.LinkBankForm__description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding: 0px 0px 15px 0px;  
    margin: 0px;
}

.LinkBankForm__results-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 35px;
    overflow: hidden;
}

.Confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px;
    max-width: 400px;
}

.Confirmation__icon {
    margin-bottom: 50px;
}

.Confirmation__title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin: 0px 0px 42px 0px;
    padding: 0px;
}

.Confirmation__description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding: 0px;
    margin: 0px 0px 75px 0px;
}