.AccountSetupPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-height: 500px) {
    .AccountSetupPage {
        height: 100%;
    }
}