.MainNav--public,
.MainNav--private {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.MainNav--public {
    background-color: white;
}

.MainNav--private {
    background-color: transparent;
}

.MainNav--public nav,
.MainNav--private nav {
    padding: 20px;
    flex: 2;
    min-height: 90px;
}

.PublicMenu,
.PrivateMenu {
    float: right;
    display: none;
}

.PublicMenu__list,
.PrivateMenu__list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.CollapsibleMenu {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CollapsibleMenu input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.CollapsibleMenu label {
    background: url(../../img/bars-solid.svg) no-repeat left center;
    height: 20px;
    width: 20px;
    padding: 25px 0px;
}

.CollapsibleMenu__list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    max-height: 0;
    overflow: hidden;
    display: none;
}

.CollapsibleMenu__list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 24px;
}
input:checked ~ .CollapsibleMenu__list {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0;
    max-height: 100%;
    min-height: 40vh;
    width: 100%;
    background-color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px 0px 0px;
}

input:checked +label {
    background-image: url(../../img/times-solid.svg);
}

a {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .CollapsibleMenu {
        display: none;
    }

    .PublicMenu,
    .PrivateMenu {
        display: block;
    }
}