.Button--text-large {
    font-family: 'Roboto', sans-serif;
    border: 0px;
    padding: 15px 45px;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
}

.Button--contained-large {
    font-family: 'Roboto', sans-serif;
    border: 0px;
    padding: 15px 45px;
    background-color: rgba(0, 0, 0, 12%);
    cursor: pointer;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
}

.Button--text-small {
    font-family: 'Roboto', sans-serif;
    border: 0px;
    padding: 15px 45px;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
}

.Button--contained-small {
    font-family: 'Roboto', sans-serif;
    border: 0px;
    padding: 15px 45px;
    background-color: rgba(0, 0, 0, 12%);
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
}

.Button--tab {
        border: 0px;
        background-color: transparent;
        width: 100%;
        height: 100%;
        padding: 15px 0px;
        font-size: 14px;
        font-family: inherit;
}