.Button--contained-large, 
.Button--contained-small,
.Button--contained-xsmall {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #472BBA;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(71, 43, 186, .2), 0 15px 40px rgba(71, 43, 186, .2);
    border-radius: 4px;
    border: 0;
    position: relative;
}

.Button--contained-large:after, 
.Button--contained-small:after,
.Button--contained-xsmall:after,
.WalletButton--contained-small:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0);
}

.Button--contained-large:hover:after, 
.Button--contained-small:hover:after,
.Button--contained-xsmall:hover:after,
.WalletButton--contained-small:hover:after {
    opacity: .2;
}

.Button--contained-large:disabled, 
.Button--contained-small:disabled,
.Button--contained-xsmall:disabled {
    cursor: not-allowed;
    background-color: rgba(71,43,186, .5);
}

.Button--contained-large {
    padding: 15px 45px;
    width: 100%;
}

.Button--contained-small {
    padding: 15px 45px;
}

.demo {
    background-color: white;
    color: #472BBA;
}

.WalletButton--contained-small {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background: white;
    color: #472BBA;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(71, 43, 186, .2), 0 15px 40px rgba(71, 43, 186, .2);
    border-radius: 4px;
    border: 0;
    position: relative;
    padding: 15px 50px;
}

.Button--contained-xsmall {
    padding: 15px 25px;
    margin: 10px;
    min-width: 100px;
}

.Button--text-large,
.Button--text-med,
.Button--text-small {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border: 0px;
}

.Button--text-large {
    padding: 15px 45px;
    width: 100%;
}

.Button--text-med {
    padding: 15px 15px;
}

.Button--text-small {
    padding: 15px 45px;
}

.Button--text-xsmall {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    padding: 15px 0px;
}

.Button--tab {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0px;
    cursor: pointer;
    text-align: left;
    position: relative;
}

.Button--tab.active::after {
    content: '';
    width: 25px;
    border-bottom: 2px solid #00C988;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 140%;
}

.Input__login,
.Input__register,
.Input__search, 
.Input__Donate {
    padding: 16px 22px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #4822BA;
    border-radius: 4px 4px 0 0;
    background-color: #EAEBF3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.Input__Donate {
    width: 100%;
    text-align: center;
}

@media screen and (max-height: 700px) {
    .Button--contained-large, 
    .Button--contained-small,
    .Button--contained-xsmall {
        font-size: 14px;
    }

    .WalletButton--contained-small {
        padding: 10px 40px;
        font-size: 14px;
    }

    .Button--tab {
        font-size: 14px;
    }
}