.RoundupsTab {
    width: 100%;
    min-height: 52vh;
    padding: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(234, 235, 243, .8), 5px 5px 15px rgba(234, 235, 243, 1);
    border-radius: 16px 16px 0px 0px;
    position: relative;
    top: 8vh;
    z-index: 2;
}

.TransactionsList__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TransactionsList__setup-link {
    margin-top: 25px;
    text-align: center;
}

.TransactionsList__setup-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    margin: 50px 0px 0px 0px;
    color: black;
}

.TransactionsList__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 0px 24px 20px 24px;
    margin: 0px;
    color: black;
    width: 100%;
}

.TransactionsList {
    width: 100%;
    padding: 0px 24px;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.RoundupsTab fieldset {
    border: 0;
    width: 100%;
    padding: 0px;
}

.RoundupsTab legend {
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-height: 700px) {
    .TransactionsList__setup-subtitle {
        text-align: center;
        padding: 0px 24px;
        margin: 30px 0px 0px 0px;
    }

    .RoundupsTab {
        top: 10vh;
        min-height: 50vh;
    }
}

@media screen and (min-width: 1000px) {
    .RoundupsTab {
        height: 100%;
        background-color: transparent;
        box-shadow: unset;
        padding: 0px 24px 24px 0px;
        top: 0;
        z-index: 0;
    }

    .TransactionsList__container {
        background-color: white;
        border-radius: 16px;
        padding: 36px 0px;
    }

    .TransactionsList__setup-subtitle {
        margin: 0px 0px 0px 0px;
    }
}